.leaflet-popup-content {
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.leaflet-popup-content-wrapper {
    background-color: #fffbe6;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

body{
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    background-color: #f5f5f5
}

#titleLabel{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #cccccc;
    -fx-text-alignment: center;
    -fx-background-color: #00000044;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgb(0,0,0), 10, 0, 5, 0);
}

#descriptionLabel{
    -fx-font-size: 16px;
    -fx-text-fill: #cccccc;
    -fx-text-color: #cccccc;
    -fx-background-color: #00000044;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgb(0,0,0), 10, 0, 5, 0);


}

#reveiwsContainer{
    -fx-background-color: #00000044;
    -fx-background-image: url("images/leaflet.png");
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-width: 2px;
    /*-fx-effect: dropshadow(three-pass-box, rgb(0,0,0), 10, 0, 5, 0);*/

    -fx-border-color: #cccccc;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px ;
    -fx-border-radius: 15px 15px 0 0;
    -fx-background-radius: 15px;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #00000044;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #899C66FF;
    -fx-effect: dropshadow(gaussian, rgb(137, 156, 102), 10, 0.75, 0, 0);
}
.scroll-pane .scroll-bar .thumb:hover, .scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #bd9e24;
    -fx-effect: dropshadow(gaussian, rgb(189, 158, 36), 10, 0.75, 0, 0);
}

#reveiws .reviewLooks, #reveiws .label{
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: #cccccc;
    -fx-text-color: #cccccc;
    -fx-min-width: 256px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
}

#reveiws .reviewLooks:hover, #reveiws .label:hover{
    -fx-effect: dropshadow(gaussian, rgb(137, 156, 102), 15, 0.75, 0, 0);
    -fx-border-color: #bd9e24;
}

#reveiwTextArea{
    -fx-background-color: transparent;
    -fx-text-fill: #cccccc;
    -fx-border-width: 0px;
}
#reveiwTextArea .viewport{
    -fx-border-width: 0px;
}

#reveiwTextArea .content{
    -fx-background-color: transparent;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-background-radius: 0px 0px 0px 15px;
    -fx-border-color: #cccccc;
    -fx-text-fill: #cccccc;
}

.button{
    -fx-background-color:  #899c66;
    -fx-alignment: center;

}
.button:hover{
    -fx-background-color:  #bd9e24;
}

#comboLabel{
    -fx-text-fill: #cccccc;
    -fx-border-color: #cccccc;
    -fx-padding: 10px 0px;
    -fx-border-width: 2px 0px 0px 0px;
    -fx-fill-height: 50%;
    -fx-alignment: center;

}

.slider {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px;
    -fx-background-radius: 15px;
    -fx-padding: 15px 5px;
    -fx-fill-height: 50%;

}

.slider .track {
    -fx-background-color: #00000044;
}

.slider .thumb {
    -fx-background-color: #899C66FF;
    -fx-effect: dropshadow(gaussian, rgb(137, 156, 102), 10, 0.75, 0, 0);
}

.slider .thumb:hover,  .slider .thumb:pressed {
    -fx-background-color: #bd9e24;
    -fx-effect: dropshadow(gaussian, rgb(189, 158, 36), 10, 0.75, 0, 0);

}
.slider .axis {
    -fx-tick-label-fill: #cccccc; /* Color of the tick labels */
}

#addReviewContainer{
    -fx-border-width: 2px 0px;
    -fx-border-color: #cccccc;
}